* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.container {
  /* background-color: red; */
  width: 100%;
  padding: 4px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.scoreboard {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.computer {
  font-size: 5rem;
}

.buttons {
  font-size: 5rem;
}

.computer.container {
  flex-direction: column;
  align-items: center;
}

.computer-msg {
  font-size: 2rem;
}

.message.container {
  width: 50%;
  text-align: center;
  font-size: 2rem;
}